:root {
  --font-size: 32px;
  --base-background-color: #eeeeee;
  --background-color: lightgrey;
  --base-space: 8px;
}

body {
  margin: 0;
  font-family: 'Cormorant', serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

/* Navbar */
#navbar {
  /* position: fixed; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-image: url('./imgs/cool-background.png');
}

.navbar__dark {
  position: fixed;
}

.navbar__title {
  padding: 0px 12px;
}

.navbar__menu {
  display: flex;
  padding: 0;
}

.navbar__menu__item {
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
}

.navbar__menu__item:hover {
  color: #dbdbdb;
}

/* Home */
#home {
  background: url(imgs/cool-background.png);
  margin: 0 0 32px 0;
  padding: 8px 12px;
  text-align: center;
}

#home__img {
  width: 350px;
  height: 350px;
  margin: 8px 0;
  border-radius: 50%;
  border: 2px solid whitesmoke;
}

.home__button {
  padding: 8px 12px;
}

.home__button__item {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: 2px solid black;
  outline: none;
  font-size: small;
  font-weight: bold;
  border-radius: 4px;
}

.home__button__item:hover {
  color: #dbdbdb;
}

/* About */
#about {
  margin: var(--base-space);
}
.about__title {
  font-size: 25px;
  padding: 25px 16px 8px 16px;
  text-align: center;
}

.about__items {
  display: flex;
  justify-content: center;
}

.fa-user {
  font-size: 24px;
}

.about__item {
  text-align: center;
  padding: 4px 16px;
}

/* Skills */
#skills {
  margin: 12px;
  padding: var(--base-space);
  background-color: var(--base-background-color);
}

.skills__title {
  padding: 16px;
  font-size: 25px;
  text-align: center;
}

.fa-tools {
  font-size: 24px;
}

.skills__items {
  display: flex;
  background-color: var(--background-color);
  margin: 20px 0;
  text-align: center;
}

.skills__left {
  flex-basis: 60%;
  background-color: #222;
  padding: 20px 40px;
}

.skill__title {
  color: whitesmoke;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

.skill__bar {
  margin: 8px 0;
  width: 100%;
  height: 3px;
  background-color: grey;
}

.skill__value {
  height: 3px;
}

.skills__right {
  flex-basis: 40%;
  background-color: grey;
}

.skills__right__title {
  padding: 3px 0;
}

.tools {
  text-align: center;
  padding: 21px;
}

.databases {
  background-color: var(--background-color);
  padding: 12px;
}

/* project */
#project {
  margin: var(--base-space);
  padding: 16px;
  text-align: center;
}

.project__title {
  font-size: 25px;
}

.project__buttons {
  margin: 12px;
}

.project__btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: var(--base-space) 12px;
  background-color: white;
  width: 80px;
  height: 40px;
  margin: 8px;
  cursor: pointer;
}

.project__btn:hover {
  background-color: var(--base-background-color);
}

.project__items {
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  position: relative;
  background-color: var(--base-background-color);
}

.project.visible {
  display: none;
}

.project-img {
  max-width: 100%;
  max-height: 100%;
}

.project:hover .project__description {
  opacity: 0.8;
}

.project__description {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  opacity: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Career */
#career {
  background-color: var(--base-background-color);
  margin: var(--base-space);
}

.career__title {
  text-align: center;
  padding: 16px 0;
  font-size: 25px;
}

.career_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0 0 24px 0;
}

.career__items__left {
  margin: 0;
  padding: 0;
}

.carrer__item__left {
  padding: 8px;
}

/* Contact */
#contact {
  text-align: center;
  background-color: #7c7979;
}

.contact__title {
  padding: 24px 0;
  color: white;
  font-size: 32px;
}

.contact__email {
  color: white;
  font-size: 28px;
}

.contact__link {
  margin: 24px 0;
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: black;
}

.link__item {
  padding: 24px var(--base-space);
}

.contact__text {
  font-size: 16px;
  padding: 24px 0;
}

/* arrow up */
.arrow-up {
  position: fixed;
  border: 1px solid black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 50px;
  background-color: black;
  color: white;
  outline: none;
  right: 50px;
  bottom: 50px;
  opacity: 0;
  cursor: pointer;
}

.visible {
  opacity: 1;
}
