body {
  margin: 0;
  font-family: 'Cormorant', serif;
}

ul {
  list-style: none;
}

/* Navbar */
#navbar {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  background: url(imgs/cool-background2.png);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  cursor: pointer;
}

.navbar__menu__item:hover {
  color: #dbdbdb;
}

/* Home */
#home {
  background: url(imgs/cool-background.png);
  padding: 8px 12px;
  text-align: center;
}

#home__img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
}

.home__button {
  padding: 8px 12px;
}

.home__button__item {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: 2px solid black;
  outline: none;
  font-size: small;
  font-weight: bold;
  border-radius: 4px;
}

.home__button__item:hover {
  color: #dbdbdb;
}

/* About */
#about {
  margin: 8px;
}
.about__title {
  font-size: 25px;
  padding: 25px 16px 8px 16px;
  text-align: center;
}

.about__items {
  display: flex;
  justify-content: center;
}

.fa-user {
  font-size: 24px;
}

.about__item {
  text-align: center;
  padding: 4px 16px;
}

/* Skills */
#skills {
  margin: 12px;
  padding: 8px;
}

.skills__title {
  padding: 16px;
  font-size: 25px;
  text-align: center;
}

.fa-tools {
  font-size: 24px;
}

.skills__items {
  display: flex;
}

progress {
  -webkit-appearance: none;
}

::-webkit-progress-value {
  background-color: orange;
}
